# node
node_modules
npm-debug.log
package-lock.json

# yarn
yarn.lock
yarn-error.log

# webstorm
.idea

# ignore
.npmignore
.gitignore
.eslintignore

# packages
src
tests
example
scripts
.editorconfig
.eslintrc.yml
.lintstagedrc.yml
gulpfile.js
tsconfig.json
tslint.yml

.DS_Store